{ 
  "presets": [
    [
      "@babel/preset-env",
      {
          "targets": {
            "esmodules": true,
          }
      }
    ]
  ],
  "plugins": [
    "@babel/transform-runtime",
    "@babel/plugin-proposal-optional-chaining",
    [
      "module-resolver", {
        "root": ["."],
        "alias": {
          "datasources": "./src/datasources/",
          "typedefs": "./src/typedefs/",
          "utils": "./src/utils/"
        },
        "cwd": "babelrc"
    }]
  ]
}